PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/gymtraq
JWT_SECRET=your_jwt_secret_here
token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxLCJpYXQiOjE3NzU2OTI4MDUsImV4cCI6MTc3NjI5NzYwNX0.Y36z8rht5t78HcT9x1jDeWaFD6CEOD1orzKnyA4NYBk
